In [1]:
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import os

from dotenv import load_dotenv

In [2]:
DATABASE = os.getenv("DATABASE")
HOST = os.getenv("HOST")  
USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
PORT = os.getenv("PORT")
print(USER)

louis

In [3]:
load_dotenv()

def create_connection():
    
    DATABASE = os.getenv("DATABASE")
    HOST = os.getenv("HOST")  
    USER = os.getenv("USER")
    PASSWORD = os.getenv("PASSWORD")
    PORT = os.getenv("PORT")
    
    connection = psycopg2.connect(
        host=HOST, 
        database=DATABASE, 
        user=USER, 
        password=PASSWORD,
        port=PORT
    )
    
    return connection

In [4]:
df = pd.read_excel("../datas/musculation_exercices.xlsx")

In [5]:
df.head()

   Unnamed: 0                    Exercice     Séance muscle_area
0           0            Développé Couché  Pectoraux   Pectoraux
1           6  Pectoraux à la Poulie Haut  Pectoraux   Pectoraux
2          10                    Lat Pull        Dos         Dos
3          17  Seated Row Prise Verticale        Dos         Dos
4          23                Biceps Curls        Dos        Bras

In [6]:
df = df[["Exercice","muscle_area"]]
df.columns = ["Exercice","Muscle_Area"]

In [7]:
df

                          Exercice          Muscle_Area
0                 Développé Couché            Pectoraux
1       Pectoraux à la Poulie Haut            Pectoraux
2                         Lat Pull                  Dos
3       Seated Row Prise Verticale                  Dos
4                     Biceps Curls                 Bras
..                             ...                  ...
101                      Abs Wheel  Ceinture Abdominale
102             Biceps Curl Poulie                 Bras
103  Développé Couché incliné Haut                 Bras
104                  Rowing Menton              Épaules
105                    Seated Dips            Pectoraux

[106 rows x 2 columns]

In [9]:
connection_string: str = f"postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
engine = create_engine(connection_string)

table_name ="musculation_exercices"
df.to_sql(table_name, engine, if_exists='replace', index=False)

106

In [21]:
df

                          Exercice          Muscle_Area
0                 Développé Couché            Pectoraux
1       Pectoraux à la Poulie Haut            Pectoraux
2                         Lat Pull                  Dos
3       Seated Row Prise Verticale                  Dos
4                     Biceps Curls                 Bras
..                             ...                  ...
101                      Abs Wheel  Ceinture Abdominale
102             Biceps Curl Poulie                 Bras
103  Développé Couché incliné Haut                 Bras
104                  Rowing Menton              Épaules
105                    Seated Dips            Pectoraux

[106 rows x 2 columns]

In [31]:
muscle_area =df[["Muscle_Area"]]
muscle_area = muscle_area.drop_duplicates()
muscle_area

            Muscle_Area
0             Pectoraux
2                   Dos
4                  Bras
5                Jambes
19              Épaules
34  Ceinture Abdominale

In [32]:
# Insertion des données dans la table muscle_area

table_name = "muscle_area"
muscle_area.to_sql(name=table_name, con=engine, if_exists="replace",index=False)

6