In [50]:
import pandas as pd 
import numpy as np 
import psycopg2
import os 
from dotenv import load_dotenv
import matplotlib as plt 
import seaborn as sns 
from datetime import datetime, timedelta

In [39]:
def create_connection():
    load_dotenv()
    DATABASE = os.getenv("DATABASE")
    HOST = os.getenv("HOST")
    USER = os.getenv("USER")
    PASSWORD = os.getenv("PASSWORD")
    PORT = os.getenv("PORT")
    connection = psycopg2.connect(
        host=HOST, database=DATABASE, user=USER, password=PASSWORD
    )
    return connection

In [40]:
USER_ID = 19

## Extraction des données liés aux sport_rows

In [41]:
connection = create_connection()
cursor = connection.cursor()
sql =   """
            SELECT * FROM sport_rows
            WHERE user_id = %s
        """
cursor.execute(sql, (USER_ID,))
data = cursor.fetchall()

In [42]:
df_sport_row = pd.DataFrame(data, columns=["date_seance","sport","exercice","duree","commentaire","id","user_id"])
df_sport_row.head()

,date_seance,sport,exercice,duree,commentaire,id,user_id
0,2024-02-24,Cardio,Vélo Elliptique,30.0,None,26,19
1,2024-02-24,Cardio,Cross Trainning,30.0,None,27,19
2,2024-02-24,Cardio,Tennis,60.0,None,28,19
3,2024-02-03,Cardio,Cross Trainning,NaN,20 pompes \n20 ballons mur en équilibres \n12 ...,95,19
4,2024-04-03,Cardio,Tennis,60.0,None,143,19


## Extraction des données liés aux musculation_rows

In [44]:
connection = create_connection()
cursor = connection.cursor()
sql =   """
            SELECT * FROM musculation_rows
            WHERE user_id = %s
        """
cursor.execute(sql, (USER_ID,))
data = cursor.fetchall()

In [45]:
df_musculation_row = pd.DataFrame(data, columns=["date_seance","seance","exercice","poid","nombre_repetition","commentaires","user_id"])
df_musculation_row.head()

,date_seance,seance,exercice,poid,nombre_repetition,commentaires,user_id
0,2024-02-19,Pectoraux,Développé Couché,60.0,6.0,None,19
1,2024-02-19,Pectoraux,Développé Couché,60.0,6.0,None,19
2,2024-02-19,Pectoraux,Développé Couché,60.0,6.0,None,19
3,2024-02-19,Pectoraux,Développé Couché,50.0,10.0,None,19
4,2024-02-19,Pectoraux,Développé Couché,50.0,9.0,None,19

In [46]:
connection = create_connection()
cursor = connection.cursor()
sql =   """
            SELECT * FROM cross_trainning_rows
            WHERE user_id = %s
        """
cursor.execute(sql, (USER_ID,))
data = cursor.fetchall()

In [47]:
df__cross_trainning_rows = pd.DataFrame(data, columns=["id","user_id","cross_trainning_serie_id","number","nombre_repetition","commentaires","user_id"])
df__cross_trainning_rows.head()

Empty DataFrame
Columns: [id, user_id, cross_trainning_serie_id, number, nombre_repetition, commentaires, user_id]
Index: []

In [49]:
df_all_sport =  pd.concat([df_sport_row,df_musculation_row,df__cross_trainning_rows])

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [60]:
datetime.now("%Y-%m-%d")

TypeError: tzinfo argument must be None or of a tzinfo subclass, not type 'str'

In [55]:
def create_date_series(time_analyse: str):
    today_date = datetime.today().date()
    
    if time_analyse == "week":
        end_date = today_date - timedelta(weeks=1)
    elif time_analyse == "month":
        end_date = today_date - timedelta(days=30)
    elif time_analyse == "year":
        end_date = today_date - timedelta(days=365)
    else:
        raise ValueError("time_analyse must be 'week', 'month', or 'year'")
    
    date_series = pd.date_range(start=end_date, end=today_date).to_list()
    
    return date_series

In [56]:
df_week = create_date_series(time_analyse="week")

TypeError: strptime() argument 1 must be str, not datetime.datetime