In [2]:
import pandas as pd 
import numpy as np
from sqlalchemy import create_engine
import psycopg2
import os

from dotenv import load_dotenv

In [3]:
load_dotenv()

def create_connection():
    
    DATABASE = os.getenv("DATABASE")
    HOST = os.getenv("HOST")  
    USER = os.getenv("USER")
    PASSWORD = os.getenv("PASSWORD")
    PORT = os.getenv("PORT")
    
    connection = psycopg2.connect(
        host=HOST, 
        database=DATABASE, 
        user=USER, 
        password=PASSWORD,
        port=PORT
    )
    
    return connection

In [6]:
from matplotlib.backend_bases import cursors


sql = """SELECT * 
        FROM sport_rows""" 

connection = create_connection()
cursor = connection.cursor()
cursor.execute(sql)
data = cursor.fetchall()

In [7]:
df = pd.DataFrame(data=data, columns=["date_seance","sport","exercice","duree","commentaire","id","user_id"])

In [8]:
df.head()

,date_seance,sport,exercice,duree,commentaire,id,user_id
0,2024-02-24,Cardio,Vélo Elliptique,30.0,None,26,19
1,2024-02-24,Cardio,Cross Trainning,30.0,None,27,19
2,2024-02-24,Cardio,Tennis,60.0,None,28,19
3,2024-02-03,Cardio,Cross Trainning,NaN,20 pompes \n20 ballons mur en équilibres \n12 ...,95,19
4,2024-04-03,Cardio,Tennis,60.0,None,143,19

In [11]:
df["date_seance"] =  pd.to_datetime(df["date_seance"])
df["date_seance"]

0    2024-02-24
1    2024-02-24
2    2024-02-24
3    2024-02-03
4    2024-04-03
5    2024-07-03
6    2024-07-03
7    2024-10-03
8    2024-03-24
9    2024-03-25
10   2024-04-19
11   2024-04-27
12          NaT
13   2024-02-05
14   2024-05-13
15   2024-05-13
16   2024-05-13
17   2024-05-15
18   2024-05-18
19   2024-05-21
20   2024-05-21
21   2024-05-21
22   2024-05-22
23   2024-05-23
24   2024-05-27
25   2024-05-29
26   2024-06-03
27   2024-06-06
28   2024-06-09
29   2024-06-12
30   2024-06-13
31   2024-06-24
32   2024-06-29
33   2024-06-29
34   2024-06-30
35   2024-07-01
36   2024-07-02
37   2024-07-03
Name: date_seance, dtype: datetime64[ns]

In [12]:
df.to_csv("../datas/cardio_exercices.csv")